mixin slide_page(title)
  a(href='#')
    span.zero .
    .page(class=attributes.class)
      .wrapper
        h1= title
        .content
          if block
            block

mixin slide_page_with_link(title, url)
  a(href=url target='_blank')
    span.zero .
    .page(class=attributes.class)
      .wrapper.link
        h1= title
        .content
          if block
            block

mixin slide_section_title_page(title)
  a(href='#')
    span.zero .
    .page(class=attributes.class)
      .wrapper.section-title
        h1= title


mixin slide_image_page(img_src,width)
  a(href='#')
    span.zero .
    .page(class=attributes.class)
      .wrapper.section-title.image
        img(src=img_src width=width)

mixin front_page
  a(href='#')
    span.zero .
    .page(class=attributes.class)
      .wrapper.front
        h1 みんな大好きCSS
        p by denari (ナルシスト)

//- ここからスライド

+slide_section_title_page('一万円用意しろ')

+slide_page('denari01')
  p
    img(src='img/icon2.png' width='200px')
  p 開発とデザインと自分と例のあの人が好き

+slide_page('がんばれproconist.net')
  p まあ何も言えねえ(ごめん今日財布忘れた)

+slide_page('さき懇親会の話')
  p.
    でなり /
    うなすけ /
    そーねっと /
    puhitaku /
    酒田 /
    shota saito /
    tochikuji /
    marin72_com /
    whywaita /
    くり /
    とまりょー /
    いしまる /
    あらや /
    きゃたぴー /
    けんご /
    みゅーみくす /
    zero

+slide_image_page('https://www.sketchapp.com/static/images/home/app-icon.png')
+slide_image_page('https://zeplin.io/img/favicon/228x228.png')
+slide_image_page('http://a4.mzstatic.com/jp/r30/Purple22/v4/5c/ab/9d/5cab9d6c-3671-b842-7133-17be7d3270ae/icon175x175.png')

+slide_page_with_link('プロトタイピングツール', 'https://prottapp.com/ja/')
  p いい感じのLP
+slide_page_with_link('この機能が最高', 'https://blog.prottapp.com/post/ja/interaction-map-beta')
  p 実際使ってやばかった

+slide_section_title_page('おしまい')

//- ブラウザで迂闊にクリックした時にネタバレを阻止する用のページ
+slide_page('')
